<div class="table">
  <div class="row  row-header">
    <span class="cell td">Id Evento</span>
    <span class="cell td">Data Efetivação</span>
    <span class="cell td">Data Original</span>
    <span class="cell td">Data Liquidação</span>
    <span class="cell td">Tipo IF</span>
    <span class="cell td">Código IF</span>
    <span class="cell td">Evento</span>
    <span class="cell td">Incorpora Juros</span>
    <span class="cell td">Taxa</span>
    <span class="cell td">P.U.</span>
    <span class="cell td">P.U. de Juros sobre Amort.</span>
    <span class="cell td">Valor Residual Unitário</span>
    <span class="cell td">Registrador/Emissor (Nome Simplificado)</span>
    <span class="cell td">Agente de Pagamento (Nome Simplificado)</span>
    <span class="cell td"></span>
  </div>
  <div class="row span-resultado" *ngFor="let evento of eventos">
    <span class="cell">{{evento.id}}</span>
    <span class="cell">
      <div class="datepickercontainer">
        <div class="datepickerelement">
      <input angular-mydatepicker name="dataEfetivacao" [(ngModel)]="evento.dataEfetivacao"
        #dpefetivacao="angular-mydatepicker" [options]="myDpOptions" [locale]="locale"
        (click)="dpefetivacao.openCalendar()" />
      </div></div>
    </span>
    <span class="cell">
      <div class="datepickercontainer">
        <div class="datepickerelement">
      <input angular-mydatepicker name="dataOriginal" type="text" [(ngModel)]="evento.dataOriginal"
        #dporiginal="angular-mydatepicker" (click)="dporiginal.openCalendar()" [options]="myDpOptions"
        [locale]="locale" />
      </div></div>
    </span>
    <span class="cell">
      <div class="datepickercontainer">
        <div class="datepickerelement">
      <input angular-mydatepicker name="dataLiquidacao" type="text" [(ngModel)]="evento.dataLiquidacao"
        #dpliquidacao="angular-mydatepicker" (click)="dpliquidacao.openCalendar()" [options]="myDpOptions"
        [locale]="locale" />
      </div></div>
    </span>
    <span class="cell">{{evento.tipoIf}}</span>
    <span class="cell">{{evento.codigoIf}}</span>
    <span class="cell">
      <!--div *ngIf="evento.tipoEvento.id == null">
          <select  [(ngModel)]="evento.tipoEvento"> 
            <option *ngFor="let tipo of tiposEvento" 
                    [ngValue]="tipo.tipoEvento"
                    >
                    {{tipo.tipoEvento.descricao}}
            </option>
          </select>
        </div-->
      <div *ngIf="evento.tipoEvento.id == null">
        <mat-form-field>
          <mat-label>selecione</mat-label>
          <mat-select [(ngModel)]="evento.tipoEvento" [formControl]="selectFormControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let tipo of tiposEvento" [value]="tipo.tipoEvento">
              {{tipo.tipoEvento.descricao}}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div *ngIf="evento.tipoEvento.id != null">
        {{evento.tipoEvento.descricao}}
      </div>
    </span>
    <span class="cell"><input type="checkbox" [(ngModel)]="evento.incorporaJuros"></span>
    <span class="cell"><input type="text" [(ngModel)]="evento.taxa"></span>
    <span class="cell"><input type="text" [(ngModel)]="evento.pu"></span>
    <span class="cell"><input type="text" [(ngModel)]="evento.puJurosSobreAmortizacao"></span>
    <span class="cell"><input type="text" [(ngModel)]="evento.valorResidualUnitario"></span>
    <span class="cell">{{evento.registradorOuEmissor}}</span>
    <span class="cell">{{evento.agentePagamento}}</span>
    <span class="cell"><button class="delete" title="delete evento" (click)="delete(evento)">x</button></span>
  </div>
  <div style="max-width: 100%; background-color: green; text-align: center;">
    <button title="add evento" (click)="add()">Add</button>
  </div>