<div *ngIf="modoEdicao">
  <table class="table-striped">
    <tr>
      <th>Id Evento</th>
      <th>Data Efetivação</th>
      <th>Data Original</th>
      <th>Data Liquidação</th>
      <th>Tipo IF</th>
      <th>Código IF</th>
      <th>Evento</th>
      <th>Incorpora Juros</th>
      <th>Taxa</th>
      <th>P.U.</th>
      <th>P.U. de Juros sobre Amort.</th>
      <th>Valor Residual Unitário</th>
      <th>Registrador/Emissor (Nome Simplificado)</th>
      <th>Agente de Pagamento (Nome Simplificado)</th>
      <th></th>
    </tr>
    <tr *ngFor="let evento of eventos">
      <td>{{evento.id}}</td>
      <td>
        <input angular-mydatepicker name="dataEfetivacao" [(ngModel)]="evento.dataEfetivacao"
          #dpefetivacao="angular-mydatepicker" [options]="myDpOptions" [locale]="locale"
          (click)="dpefetivacao.openCalendar()" />
      </td>
      <td>
        <input angular-mydatepicker name="dataOriginal" type="text" [(ngModel)]="evento.dataOriginal"
          #dporiginal="angular-mydatepicker" (click)="dporiginal.openCalendar()" [options]="myDpOptions"
          [locale]="locale" />
      </td>
      <td>
        <input angular-mydatepicker name="dataLiquidacao" type="text" [(ngModel)]="evento.dataLiquidacao"
          #dpliquidacao="angular-mydatepicker" (click)="dpliquidacao.openCalendar()" [options]="myDpOptions"
          [locale]="locale" />
      </td>
      <td>{{evento.tipoIf}}</td>
      <td>{{evento.codigoIf}}</td>
      <td>
        <div *ngIf="evento.tipoEvento.id == null">
          <select  [(ngModel)]="evento.tipoEvento">
            <option [value]="0" disabled>--Selecione um tipo--</option>
            <option *ngFor="let tipo of tiposEvento" 
                    [value]="tipo.tipoEvento.id"  
                    [selected]="evento.tipoEvento.id"
                   >
                    {{tipo.tipoEvento.descricao}}
            </option>
          </select>        
          
        </div>
        <div *ngIf="evento.tipoEvento.id != null">
            {{evento.tipoEvento.descricao}}
        </div>
      </td>
      <td><input type="checkbox" [(ngModel)]="evento.incorporaJuros"></td>
      <td><input type="text" [(ngModel)]="evento.taxa"></td>
      <td><input type="text" [(ngModel)]="evento.pu"></td>
      <td><input type="text" [(ngModel)]="evento.puJurosSobreAmortizacao"></td>
      <td><input type="text" [(ngModel)]="evento.valorResidualUnitario"></td>
      <td>{{evento.registradorOuEmissor}}</td>
      <td>{{evento.agentePagamento}}</td>
      <td><button class="delete" title="delete evento" (click)="delete(evento)">x</button></td>
    </tr>
  </table>
</div>
<div style="max-width: 100%; background-color: green; text-align: center;">
  <button title="add evento" (click)="add()">Add</button>
</div>