.table{
  display: table; 
  padding: 1px;
  margin: 1px;
  border: solid 2px #002c63;
  border-radius: 5px;
  
}
.row{
  display: table-row; 
  vertical-align: top;
  padding-bottom: 1px;
  border: solid 1px #00FF00;
  border-left: 0px;
  border-radius: 5px;
}

.row-header {
    background: RoyalBlue none repeat scroll 0 0;
    color: white;
}

.span-resultado:nth-child(even) {
    background: #d1eaff;
}
.span-resultado:nth-child(odd) {
    background: #96c5ec;
}

.cell {
  display: table-cell;
  vertical-align: top;
  padding-left: 0px;
  width: auto;
  text-align: center;
  margin: 1px;
  border: solid 1px white;
  border-radius: 5px;
  vertical-align: middle;
}
.td {
  width: 100px;
  font-style:bold;
}

.tamanho-minimo {
  width: 3%;
}

.cell input {
    width: 95%;
    vertical-align: left;
}

.div-display-text {
    display: inline-flex;
    margin-right: 0px;
    margin: 0px;
}

.triangulo-para-cima {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  float: right ;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;  
}

.triangulo-para-baixo {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  float: right ;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;  
}

#triangulo-para-direita {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #4C4B63;
}
#triangulo-para-baixo {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #949396;
}
#triangulo-para-esquerda {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  border-right:25px solid #ABA8B2; 
}

.footer-container {
  width: 100%;
  max-width 100%;
  border: solid 1px green;
  margin-right: 0px;  
  text-align: center;
  padding: 0px;
}

.pdf-icon{
    display: inline-block;
    background-image:url('../../assets/img/pdf1.jpg');
    background-position: center;
    background-size: 70%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    border: 1px solid red;
    margin:0 auto;
}


.pdf-icon:hover{
    display: inline-block;
    background-image:url('../../assets/img/pdf1hover.jpg');
    background-position: center;
    background-size: 70%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    margin:0 auto;
}

.csv-icon{
    display: inline-block;
    background-image:url('../../assets/img/csv1.jpg');
    background-position: center;
    background-size: 70%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    border: 1px solid green;
    margin:0 auto;
}


.csv-icon:hover{
    display: inline-block;
    background-image:url('../../assets/img/csv1hover.jpg');
    background-position: center;
    background-size: 70%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    margin:0 auto;
}

.insert-line-icon{
    display: inline-block;
    background-image:url('../../assets/img/insert-line.png');
    background-position: center;
    background-size: 80%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    border: 1px solid green;
    margin:0 auto;
}


.insert-line-icon:hover{
    display: inline-block;
    background-image:url('../../assets/img/insert-line-hover.png');
    background-position: center;
    background-size: 80%
    background-repeat: no-repeat;
    width: 50px; /* width of container */
    height: 50px; /* height of container */
    margin:0 auto;
}

