.painel-eventos{
    background-color: green;
}

/* marca a primeira linha da tabela com a cor desejada*/
.table-striped > tbody > tr:first-child > th{
    background: #002c63 none repeat scroll 0 0;
    border-radius: 5px;
    padding: 0;
    color: white;
    vertical-align: middle; 
    text-align: center;
}

.table-striped td{
    border-radius: 5px;
    padding: 0;
    vertical-align: middle; 
    text-align: center;
}

.table-striped input{
    max-width: 100% !important;
    width: 100%;
    height auto;
    border-radius: 5px;
}


tr:nth-child(even) {
    background: #d1eaff;
}
tr:nth-child(odd) {
    background: #96c5ec;
}

a:hover {
    text-decoration: none;
    color: white;
}
