<div class="table">
  <!-- Header -->
  <div class="row  row-header">
    <span class="cell td tamanho-minimo">
      <div class="div-display-text" (click)="sort('id')">
        Id<div [class]="order === 'asc' ? 'triangulo-para-baixo' : 'triangulo-para-cima'">
        </div>
      </div>
    </span>
    <span class="cell td">
      <div class="div-display-text"
        (click)="sort(['dataEfetivacao.singleDate.date.year','dataEfetivacao.singleDate.date.month','dataEfetivacao.singleDate.date.day'])">
        Data Efetivação<div [class]="order === 'asc' ? 'triangulo-para-baixo' : 'triangulo-para-cima'"></div>
      </div>
    </span>
    <span class="cell td">
      <div class="div-display-text"
        (click)="sort(['dataOriginal.singleDate.date.year','dataOriginal.singleDate.date.month','dataOriginal.singleDate.date.day'])">
        Data Original<div [class]="order === 'asc' ? 'triangulo-para-baixo' : 'triangulo-para-cima'"></div>
      </div>
    </span>
    <span class="cell td">
      <div class="div-display-text"
        (click)="sort(['dataLiquidacao.singleDate.date.year','dataLiquidacao.singleDate.date.month','dataLiquidacao.singleDate.date.day'])">
        Data Liquidação<div [class]="order === 'asc' ? 'triangulo-para-baixo' : 'triangulo-para-cima'"></div>
      </div>
    </span>
    <span class="cell td tamanho-minimo">Tipo IF</span>
    <span class="cell td">Código IF</span>
    <span class="cell td">
      <div class="div-display-text" (click)="sort('tipoEvento.descricao')">
        Evento<div [class]="order === 'asc' ? 'triangulo-para-baixo' : 'triangulo-para-cima'"></div>
      </div>
    </span>
    <span class="cell td tamanho-minimo">Incorpora Juros</span>
    <span class="cell td">Taxa</span>
    <span class="cell td">P.U.</span>
    <span class="cell td">P.U. de Juros sobre Amort.</span>
    <span class="cell td">Valor Residual Unitário</span>
    <span class="cell td">Registrador/Emissor (Nome Simplificado)</span>
    <span class="cell td">Agente de Pagamento (Nome Simplificado)</span>
  </div>

  <!-- Corpo -->
  <div class="row span-resultado" *ngFor="let evento of eventos">
    <span class="cell">{{evento.id}}</span>
    <span class="cell">{{formatDateToString(evento.dataEfetivacao)}}</span>
    <span class="cell">{{formatDateToString(evento.dataOriginal)}}</span>
    <span class="cell">{{formatDateToString(evento.dataLiquidacao)}}</span>
    <span class="cell">{{evento.tipoIf}}</span>
    <span class="cell">{{evento.codigoIf}}</span>
    <span class="cell">{{evento.tipoEvento.descricao}}</span>
    <span class="cell">{{evento.incorporaJuros}}</span>
    <span class="cell">{{evento.taxa}}</span>
    <span class="cell">{{evento.pu}}</span>
    <span class="cell">{{evento.puJurosSobreAmortizacao}}</span>
    <span class="cell">{{evento.valorResidualUnitario}}</span>
    <span class="cell">{{evento.registradorOuEmissor}}</span>
    <span class="cell">{{evento.agentePagamento}}</span>
  </div>
</div>
<div class="footer-container">
  <div class="pdf-icon" title="Geração de arquivo pdf" (click)="gerarPdf()"></div>  
  <div class="csv-icon" title="Geração de arquivo csv" (click)="gerarCSV()"></div>  
  <div><a routerLink="/edit">edit</a></div>
</div>