@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.datepickercontainer {
  position: relative;
  display: flex;
}

.datepickerelement {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0px 0px;
  width: 100%;
  font-size: 16px;
  color: #495057;
  cursor: pointer;
}

.mat-form-field{
    font-size: 12px;
}

.mat-option-text{
    font-size: 14px;
}

.myDpIcon { 
  color: blue !important;
   
}
.myDpIcon:hover { 
  color: lightblue !important;
   
}